
.UpMenu {
  background-color:rgb(45, 53, 156) ;
}


.bodyApp{
  background-color:rgb(3, 3, 5);
}

#logo {
  background-size: auto;
}

#butCour, #butArea, #butMag, #butOur, #butOnl, #butPay, #butCont, #butMailer, #butLive {
  color:rgb(237, 228, 241) ;
  align-content: center;
  font-size: small;
  font-stretch: semi-condensed;
  font-size-adjust: auto;
  text-align: center;
}
